<div
    id="leaflet-map"
    data-scroll-protection="{{ __SELF__.property('scrollProtection') }}"
    data-latitude="{{ __SELF__.property('latitude') }}"
    data-longitude="{{ __SELF__.property('longitude') }}"
    data-zoom="{{ __SELF__.property('zoom') }}"
    data-marker-latitude="{{ __SELF__.property('markerLatitude') }}"
    data-marker-longitude="{{ __SELF__.property('markerLongitude') }}"
    data-marker-text="{{ __SELF__.property('markerText') }}"
    style="width: {{ __SELF__.property('width') }}; height: {{ __SELF__.property('height') }};"
></div>
